@font-face {
   font-family: 'EkkamaiNew-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Natchanon/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-10_223401/fonts/EkkamaiNew-Regular/font.ttf');
}
